@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600&display=swap');

.App {
  text-align: center;
  font-family: Lato;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Lato;
}
h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: Lato;
  font-weight: 800;
  font-style: normal;
}
h3 {
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
}
h4 {
  font-family: Lato;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18
}

.seamText {
  font-family: "Lato Medium";
  font-weight: 400;
}

.faceText {
  font-family: "Lato Medium";
  font-weight: 400;
}

#row1 {
  display: flex;
  flex-direction: row;
}

#row2 {
  max-width: 50%;
}

#mainarea {
  display: flex;
  flex-direction: row;
}

#column1 {
  display: flex;
  flex-direction: column;
  float: left;
}

#column2 {
  display: flex;
  flex-direction: column;
  width: 600px
}
.orderblock {
  margin-bottom: 10px
}
.middleorderblock {
  margin-left: 10px
}
.innerorderblock {
  margin-left: 20px
}
#col1 {
  padding: 10px;
  width: 820px;
}
#col2 {
  padding: 10px;
  width: 100px;
  height: 850px;
  overflow-y: scroll;
}
#col3 {
  padding: 10px;
  margin-left: 10px;
  width: 300px;
  height: 850px;
}
#hgheader {
  margin-top:80px;
}
.hypergraph-image {
  max-height: 160px;
}
.hypergraph-image-large {
  max-width: 400px;
}
.peelContainer {
  width: 300px;
}
.first {
    width: 300px;
    float: left;
    margin: 0;
}
.second {
    width: 300px;
    float: left;
}
.peelRow {
  display: flex;
  flex-direction: row;
}
.peelCol {
  display: flex;
  flex-direction: column;
  float: left;
}
.sketch-picker {
  max-width: 200px;
}
.konvajs-content {
  border: 1px solid black;
}
#maintb {
  margin: 0 auto;
}
.errorText {
  color: red;
}
.rightBorder {
  justify-content: space-between;
  flex: 1
}
.faq-style-wrapper {
  padding: 10px;
}
.instructionLink {
  text-decoration:  none;
  color: white;
}
.rightIcon {
  justify-content: flex-end;
}
.logoImg {
  text-align: center;
  max-height: 60px;
}
.topBar {
  background-color:  white !important;
}